*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html{
    background-color: whitesmoke;
}
#menu{
    margin: 10% 0 0 1%;
    filter: drop-shadow(-2px 4px 10px #222222);
    transition: 0.5s;
}

#menu li{
    width: 13%;
    padding: 15px 0;
    text-align: center;
    background-color: #cd2c1d;
    
}
#menu li a{
    color: white;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bolder;
}
#menu ul{
    margin: -37px 0 0 13%;
    position: absolute;
    width: 13%;
    opacity: 0;
    visibility: hidden;
    display: none;
}
#menu ul ul{
    margin: -37px 0 0 100%;
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    display: none;
}
#menu ul li {
    width: 100%;
    padding: 15px 0 15px 0;
    background-color:#a71e11 ;
}

#menu li:hover > ul{
    opacity: 1;
    visibility: visible; 
    display: block;
} 
#menu ul li ul li{
    background-color:#77160d
}
#menu ul li ul li ul li{
    background-color:#4d0e08
}
#menu ul li:hover  >ul{
    opacity: 1;
    visibility: visible; 
    display: block;
}

@keyframes down{
    from{
        top: -50%;
        display: none;
    }
    to{
        top: 0%;
        display: block;
    }
}